# OS-extensions and tempfiles
.DS_Store
~*

# R-extensions and idiosyncracies
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
README.html

# Stata-extensions
*.stswp

# Directories and Files
data/munged
data
docs
results/*.txt
results/*.xml
results/*.rtf
scratch

